<div class="container mt-5">
    <div class="col-md-12">
        <div>
            <h1 class="display-5 mb-3" style="color:#145562;">Create a New Post</h1>
            <form>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="userId" class="col-form-label">Post Title: </label>
                        <input [(ngModel)]="newPost.title" type="text" class="form-control" name="title" maxlength="35"/>
                    </div>
                </div>
                <div class="form-group">                      
                    <div class="col-md-6">
                        <label for="firstName" class="col-form-label">Post Content: </label>
                        <textarea [(ngModel)]="newPost.content" type="text" name="content" class="form-control" rows="7"></textarea>
                    </div>
                </div>
                <div class="form-group">                      
                    <div class="col-md-6">
                        <label for="lastName" class="col-form-label">Header Image: </label>
                        <input [(ngModel)]="newPost.headerImage" type="text" class="form-control" name="headerImage"/>
                    </div>
                </div>
                <div class="form-group">                      
                    <div *ngIf="errorMsg!=''" class="col-md-6 ml-3 alert alert-danger" role="alert">
                        {{errorMsg}} 
                    </div>
                </div>
                <input type="submit" (click)="CreateNewPost()" class="btn btn-primary mt-3" value="Create Post"/>
            </form>
        </div>
    </div>
</div>